.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;

  border: 1px solid #ccc;
}

form {
  border: 3px solid #ccc;
  padding: 20px;
  border-radius: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-image {
  width: 300px;
  height: 200px;
  object-fit: fill;
}
