<div class="form-container">
  <div class="form-row">
    <div class="form-column">
      <form class="login-form">
        <div class="form-group">
          <h4 class="form-title">Login</h4>
          <label for="username">Username</label>
          <input
            type="email"
            id="username"
            aria-describedby="usernameHelp"
            placeholder="Enter username"
            [(ngModel)]="username"
            name="username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Password"
            [(ngModel)]="password"
            name="password"
          />
        </div>
        <button type="button" class="btn-submit" (click)="login()">
          Sign in
        </button>
        <div class="form-footer">
          <p>Don't have an account?</p>
          <button routerLink="/register" class="btn-link">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
